

.input {
	border: none;
	border-bottom: 1px solid map-get($theme-colors, "baz-purple");
	box-shadow: none !important;
	outline: none !important;
	width: 100%;
	font-size: 1rem;
	padding: 0.2rem;
	color: map-get($theme-colors, "baz-gray") !important;
}
