/*tarjeta de peliculas*/
.card-main {
    width: 176px;
    height: auto;
    margin: 16px 5px 16px 5px;
    padding: 6px;
    border-radius: 8px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .card-main:hover{
    cursor:pointer;
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; 
  }

  .card-main .image{
    width: 160px;
    height: 182px;
    margin: 0 0 8px;
    /*object-fit: contain;*/
  }

  .card-main .titulo{
      width: 134px;
        height: 38px;
        margin: 8px 26px 0 0;
        font-family: Poppins;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        color: #222e41;
  }

  .card-main .genero {
    margin: 46px 122px 0 0;
    font-family: Poppins;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #747f92;
  }

  .card-main .price {
    font-family: Poppins;
    font-size: 14px;
    color: #f29802;
  } 