/*category Estrenos*/

.category{
    color: #222e41;
    margin: 32px 85px 32px 72px;
    /*display: none; /*quitar despues*/
  }

  .category header{
    display: flex;
  }

  .category .title{
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #222e41;
  }

  .category .link-category{
    background: no-repeat right center url("../../../assets/images/ver-todo-18-chevron.svg");;
    padding-right: 27px;
    padding-top: 3px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8200ff;
  }

  .category .ver-todo{
        background: no-repeat center right url("../../../assets/images/ver-todo-18-chevron.svg");
        width: 118px;
        height: 27px;
        float: right;
  }

  .category .card-main-pagination{
      display: flex;
      flex-direction: row;
  }
