/* barra de búsqueda*/

 .search{
	text-align: center;
  }
  
  .search .comp-search{
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
   .search .comp-search .text{
	  width: 752px;
	  height: auto;
	  margin: 32px 16px;
	  padding: 12px 12px 10px 16px;
	  border-radius: 10px;
	  border: solid 1px #c2c2c2;
	  
	  
  }
  
  .search .comp-search .search-button{
	  background: no-repeat center center url("../../../assets/images/iconos-sistema-accion-buscar_3.png");
	  width: 24px;
	  position: relative;
	  right: 70px;
	  border: none;
  }
  
  .search .comp-search .search-button:hover{
	cursor:pointer;
	animation: pulse; /* referring directly to the animation's @keyframe declaration */
	animation-duration: 1s; 
  }