.holder #datos {    
    width: 50%;
    height: 460px;
    padding-left: 40px;
    padding-top: 32px;
    /*border: 1px solid black; */
    margin-top: 8px;
    background-color: #fff;   
}

#datos #titulo {
    /*height: 44px;  */
}

#datos #sipnosis {
    height: 20px;
    margin-bottom: 24px;    
    line-height: 1.25;    
}

#datos #sipnosis ul {
    list-style: none;
    text-decoration: none;
    padding-left: 0;
}

#datos #sipnosis ul li{
    float: left;
    border-right: 1px solid #222e41;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 1.25;
    font-weight: 500;
}

.sin_borde_izq {
    padding-left: 0 !important;
}

.sin_borde_der {
    border-right: none !important;
}

#datos #descripcion {    
    margin-top: 24px;
    margin-bottom: 9px;    
    text-align: justify;    
}

#datos #descripcion #informacion {
    display: block;
    margin-top: 9px;
    margin-right: 72px;
    margin-bottom: 24px;
    font-weight: normal;
    line-height: 1.38;    
}

#precio {
    height: 22px;
    margin-top: 16px;
    line-height: 1.22;    
}

#iva {   
    width: 79px; 
    height: 17px;
    margin-right: 95px;
    line-height: 1.31;
}

#rentar button{   
    width: 256px; 
    height: 48px;
    margin-top: 24px;
    margin-right:360px;
    margin-bottom: 99px;
    border-radius: 24px;
    background-color: #5dc137;
    border: none;
    cursor: pointer;
    &:hover{
        background: #2f6918;
    }
}

#rentar {
    text-decoration: none;
}

#rentar span {  
    display: block;
    padding-top:13px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 12px;    
    font-weight: bold;
    line-height: normal;
    text-align: center;
    color: #fff;
}
