$colors:(
    principal-principal-100: rgb(93, 193, 55),
    secundario-secundario-100: rgb(130, 0, 255),
    secundario-secundario-200:rgb(172, 85, 255),
    secundario-secundario-300:rgb(168, 121, 213),
    base-base-100 :rgb(255, 255, 255),
    base-base-200 :  rgb(245, 245, 245), 
    texto-texto-100 :  rgb(34, 46, 65), 
    texto-texto-200 :  rgb(116, 127, 146),     
    auxiliar-auxiliar-a100 :  rgb(208, 210, 211),     
    auxiliar-auxiliar-b100 :  rgb(251, 217, 57), 
    auxiliar-auxiliar-b200 :  rgb(255, 247, 186), 
    auxiliar-auxiliar-c200 :  rgb(222, 242, 215), 
    auxiliar-auxiliar-d100 :  rgb(255, 0, 190), 
    auxiliar-auxiliar-d200 :  rgb(255, 204, 242), 
    auxiliar-auxiliar-e100 :  rgb(130, 0, 255), 
    auxiliar-auxiliar-e200 :  rgb(230, 204, 255), 
    auxiliar-auxiliar-f100 :  rgb(224, 251, 129), 
    auxiliar-auxiliar-f200 :  rgb(240, 253, 195), 
    sistema-inactivo-100 :  rgb(194, 194, 194), 
    sistema-éxito-100 :  rgb(0, 200, 81), 
    sistema-éxito-200 :  rgb(230, 252, 239), 
    sistema-alerta-100 :  rgb(255, 149, 0), 
    sistema-alerta-200 :  rgb(255, 239, 205), 
    sistema-error-100 :  rgb(252, 55, 55), 
    sistema-error-200 :  rgb(253, 229, 229), 
    sistema-información-100 :  rgb(21, 152, 249), 
    sistema-información-200 :  rgb(230, 242, 251),
    ilustración-ilustración-100 :  rgb(46, 164, 0), 
    ilustración-ilustración-200 :  rgb(50, 177, 0), 
    ilustración-ilustración-300 :  rgb(54, 193, 0), 
    ilustración-ilustración-400 :  rgb(222, 231, 218), 
    ilustración-ilustración-500 :rgb(234, 234, 234)
);